*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.bodyIndex{    
    color: #B95915;
}
.caja{
    margin-top: 90px;
}
.menu ul{
    margin: 0px 0px 0px 0px;
    background-color: #000000;
    font-size: 20px;
    list-style: none;
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: 'Noto Sans JP',Roboto, sans-serif;
    display: flex;
}
.menu ul img{
    width: 80px;
    height: 80px;
    padding-left: 60px;
}
.menu-li{
    display: inline-block;    
    padding: 25px 35px 25px 35px;
    margin: 10px 20px 10px 20px;
    text-align: center;
}
.menu i{
    padding-right: 10px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.menu a:hover{
    transition: 1s;
    background-color: #E56020;
}

/* .equipos{
    color: white;
    background:linear-gradient(#000000,#17408B,#FFFFFF);
    text-align: center;
} */
#a{
    text-decoration: none;
    color:  #FFFFFF;
}
.team:hover{
    border: 3px solid white;
    transition: 1s;
}
.equipos h2{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 5px;
}
.equipos .conferencia{
    padding: 30px 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.equipos .site{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}
/*Colores de los equipos*/
.equipos #suns h2{  background: linear-gradient(to right, #1D1160 50%,#E56020 50%);}
.equipos #warriors h2{background: linear-gradient(to right,#1D428A 50%, #FFC72C 50%);}
.equipos #blazers h2{background:linear-gradient(to right,#E03A3E 50%, #000000 50%);}
.equipos #mavericks h2{background:linear-gradient(to right,#00538C 50%,#002B5E 50%)}
.equipos #spurs h2{background:linear-gradient(to right, #C4CED4 0%,#C4CED4 25%,#000000 25%,#000000 75%,#C4CED4 75%,#C4CED4 100%);background-clip: text; color: #FFFFFF;}
.equipos #nuggets h2{background:linear-gradient(to right, #FEC524 0%, #FEC524 33%, #0E2240 33%, #0E2240 66%, #8B2131 66%,#8B2131 100%)}
.equipos #pelicans h2{background:linear-gradient(to right,#0C2340 0%,#0C2340 33%, #C8102E 33%,#C8102E 66%,#85714D 66%,#85714D 100%)}
.equipos #kings h2{background:linear-gradient(to right,#5A2D81 50%, #63727A 50%)}
.equipos #clippers h2{background:linear-gradient(to right, #C8102E 50%,#1D428A 50%)}
.equipos #thunders h2{background:linear-gradient(to right, #007AC1 50%, #EF3B24 50%)}
.equipos #timberwolves h2{background:linear-gradient(to right,#0C2340 50%, #78BE20 50%)}
.equipos #grizzlies h2{background:linear-gradient(to right,#5D76A9 50%, #12173F 50%)}
.equipos #jazz h2{background:linear-gradient(to right,#002B5C 0%,#002B5C 33%, #F9A01B 33%, #F9A01B 66%, #00471B 66%, #00471B 100% )}
.equipos #lakers h2{background:linear-gradient(to right,#552583 50%, #FDB927 50%)}
.equipos #rockets h2{background:linear-gradient(to right,#CE1141 0%,#CE1141 33%, #000000 33%,#000000 66%, #C4CED4 66%, #C4CED4 100%)}
.equipos #philly h2{background:linear-gradient(to right,#006BB6 50%, #ED174C 50%)}
.equipos #bucks h2{background:linear-gradient(to right,#00471B 50%,#00471B 50%, #EEE1C6 50%)}
.equipos #nets h2{background:linear-gradient(to right,#FFFFFF 0%,#FFFFFF 25%,#000000 25%,#000000 75%, #FFFFFF 75%,#FFFFFF 100%)}
.equipos #pacers h2{background:linear-gradient(to right,#002D62 50%, #FDBB30 50%)}
.equipos #bulls h2{background:linear-gradient(to right,#CE1111 50%, #000000 50%)}
.equipos #heat h2{background:linear-gradient(to right,#CE1111 50%, #F9A01B 50%)}
.equipos #wizards h2{background:linear-gradient(to right,#002B5C 50%, #E31837 50%)}
.equipos #hawks h2{background:linear-gradient(to right,#C8102E 50%, #FDB927 50%)}
.equipos #pistons h2{background:linear-gradient(to right,#C8102E 50%, #1D42BA 50%)}
.equipos #knicks h2{background:linear-gradient(to right,#006BB6 50%, #F58426 50%)}
.equipos #celtics h2{background:linear-gradient(to right,#007A33 50%, #BA9653 50%)}
.equipos #hornets h2{background:linear-gradient(to right,#1D1160 50%, #00788C 50%)}
.equipos #magic h2{background:linear-gradient(to right,#0077C0 50%, #C4CED4 50%)}
.equipos #cavaliers h2{background:linear-gradient(to right,#860038 50%, #FDBB30 50%)}
.equipos #raptors h2{background:linear-gradient(to right,#CE1141 50%, #000000 50%)}

.footer-index{
    bottom: 0px;
    position: absolute;
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.footer-index li{   
    display: inline-block;
    list-style-type: none;
}
.footer{
    background-color: #000000;
    width: 100%;
    text-align: center;
    padding: 30px 0px 30px 0px;
    font-family: 'Sedgwick Ave Display', cursive;
}
.footer li{   
    display: inline-block;
}
.github,.instagram,.linkedin{
    margin-left: 50px;
    text-decoration: none;
    padding: 10px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 15px;
}
.footer .github::after,.instagram::after,.linkedin::after{
    padding: 0px;
    content: ""; 
    transition: 1s;
}
.github:hover::after{
    padding: 5px;
    content: "GITHUB";
  }
.instagram:hover::after{
    padding: 5px;
    content: "INSTAGRAM";
}
.linkedin:hover::after{
    padding: 5px;
    content: "LINKEDIN";
}
/*Scroll Bar*/
::-webkit-scrollbar{
    width: 10px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb{
    background-color: #B95915;
    border-radius: 5px;
}
::-webkit-scrollbar-track{
    border-radius: 15px;
}

/* ESTILO DE FORMULARIO */
.main{
    background-image: url(imagenes/basketballCourt.jpg);
    background-size: 1400px 1000px;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
.forms{
    border:5px solid purple;
    border-radius: 15px;
    width: 600px;
    height: 640px;
    margin: 0px 0px 0px 60px;
    background-color: #000000;
}
.label{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    letter-spacing: 1px;
    font-weight: bolder; 
    margin: 35px 0px 2px 70px;
}
#fnombre{
    margin:0px 0px 0px 30px;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
    width: 272px;
    border: 3px solid #444444;
}
#fnombre:hover{
    transition: 0.2s;
    background-color: black;
    border: 3px solid white;
    color: white;
}
#fapellido{
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px 0px 5px 5px ;
    width: 272px;
    border: 3px solid #444444;
}
#fapellido:hover{
    transition: 0.2s;
    background-color: black;
    border: 3px solid white;
    color: white;
}
#femail{
    margin-left: 51px;
    border-radius: 5px;
    padding: 5px 0px 5px 5px ;
    width: 272px;
    border: 3px solid #444444;
}
#femail:hover{
    transition: 0.2s;
    background-color: black;
    border: 3px solid white;
    color: white;
}
#lfmensaje{
    margin: 0px 13px 0px 0px; 
}
#tAfmensaje{
    border: 3px solid #444444;
    margin-left: 10px;
    width: 272px;
    padding: 5px 0px 0px  5px;
    border-radius: 8px;
    resize: none;
    font-size: 15px;
}
#tAfmensaje:hover{
    transition: 0.2s;
    background-color: black;
    border: 3px solid white;
    color: white;
}
.cajaFormArriba{
    background-color: #000000;
    margin: 75px 5px 0px 5px;
}
.tituloFormulario h2{
    width: 55%;
    margin: 30px 0px 30px 10px;    
    border: 3px solid black;
    color: #0077C0;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    background-color: #000000;
}
.botonEnviar{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    padding: 10px 10px;
    color: black;
    background-color: white;
    border: 3px solid white;
    border-radius: 8px;
    margin: 25px 0px 0px 480px;
}
.botonEnviar:hover{
    transition: 0.2s;
    background-color: black;
    border: 3px solid white;
    color: white;
    cursor: pointer;
}
#validacionNombre, #validacionApellido, #validacionEmail{
    margin-top: 10px;
    color: #888888;
    font-size: 12px;
    margin-left: 190px;
    list-style-type: none;
}
#mensajeConfirmacionFormulario{
    margin: 10px 0px;
    text-align: center;
    list-style-type: none;
    color: #006BB6;
    font-size: 20px;
}
/*ABOUT*/
.teamsAbout{
    border-bottom: 10px double #0077C0;
}
.teamsAbout h3{
    background-color: #000000;
    display: flex;
    padding: 20px 0px 10px 0px;
}
.teamH3{
    padding: 20px 0px 30px 100px;
    font-size: 30px;
    font-family: sans-serif;
}
.teamsAbout h3 img{
    width: 80px;
    height: 70px;
}
.divTeams{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    padding-bottom: 20px;
}
.parrafoTeams{
    padding: 20px 0px 0px 20px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 30px;
}
.parrafoTeams table{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 30px;
}
.parrafoTeams h4{
    font-size: 25px;
    letter-spacing: 3px;
    padding: 20px;
    font-family: fantasy;
}
.parrafoTeams table td{
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    padding: 15px 5px;
    text-align: center;
}
.divTeams img{
    margin-left: 70px;
}
/*Suns*/
#sunsAbout h3{
    color: #E56020;
    border-bottom: 2px solid #E56020;
}
#sunsParrafo table{
    color: #E56020;
}
#sunsParrafo h4{
    color: blueviolet;
}
/*GSW*/
#gswAbout h3{
    color: #1D428A;
    border-bottom: 2px solid #1D428A;
}
#gswParrafo table{
    color: #FFC72C;   
}
#gswParrafo h4{
    color:#1D428A;
}
/*Portland*/
#portlandAbout h3{
    color: #E03A3E;
}
#portlandParrafo table{   
    color:#E03A3E;
}
#portlandParrafo h4{
    color:#E03A3E;
}
/*Portland*/
#mavsAbout h3{
    color: #00538C;
}
#mavsParrafo table{   
    color:#00538C;
}
#mavsParrafo h4{
    color:#002B5E;
}
/*Spurs*/
#spursAbout h3{
    color: #C4CED4;
}
#spursParrafo table{   
    color:#C4CED4;
}
#spursParrafo h4{
    color:#C4CED4;
}
/*Nuggets*/
#nuggetsAbout h3{
    color: #FEC524;
}
#nuggetsParrafo table{   
    color:#8B2131;
}
#nuggetsParrafo h4{
    color:#0E2240;
}
/*Pelicans*/
#pelicansAbout h3{
    color:#C8102E;
}
#pelicansParrafo table{   
    color:#0C2340;
}
#pelicansParrafo h4{
    color:#85714D;
}
/*Kings*/
#kingsAbout h3{
    color:#63727A;
}
#kingsParrafo table{   
    color:#5A2D81;
}
#kingsParrafo h4{
    color:#63727A;
}
/*Clippers*/
#clippersAbout h3{
    color:#1D428A;
}
#clippersParrafo table{   
    color:#C8102E;
}
#clippersParrafo h4{
    color:#1D428A;
}
/*Thunders*/
#thundersAbout h3{
    color:#007AC1;
}
#thundersParrafo table{   
    color:#007AC1;
}
#thundersParrafo h4{
    color:#EF3B24;
}
/*Timberwolves*/
#wolvesAbout h3{
    color:#78BE20;
}
#wolvesParrafo table{   
    color:#78BE20;
}
#wolvesParrafo h4{
    color:#0C2340;
}
/*Grizzlies*/
#grizzliesAbout h3{
    color:#5D76A9;
}
#grizzliesParrafo table{   
    color:#5D76A9 ;
}
#grizzliesParrafo h4{
    color: #12173F;
}
/*Utah*/
#utahAbout h3{
    color: #F9A01B;
}
#utahParrafo table{   
    color:#F9A01B ;
}
#utahParrafo h4{
    color: #00471B;
}
/*Lakers*/
#lakersAbout h3{
    color: #FDB927 ;
}
#lakersParrafo table{   
    color:#FDB927 ;
}
#lakersParrafo h4{
    color: #552583;
}
/*Rockets*/
#rocketsAbout h3{
    color: #CE1141 ;
}
#rocketsParrafo table{   
    color:#C4CED4 ;
}
#rocketsParrafo h4{
    color: #C4CED4;
}
/*Philladelphia*/
#phillyAbout h3{
    color: #006BB6  ;
}
#phillyParrafo table{   
    color:#006BB6 ;
}
#phillyParrafo h4{
    color: #ED174C;
}
/*Bucks*/
#bucksAbout h3{
    color:  #EEE1C6  ;
}
#bucksParrafo table{   
    color:#EEE1C6 ;
}
#bucksParrafo h4{
    color: #00471B;
}
/*Nets*/
#netsAbout h3{
    color:  #EEE1C6  ;
}
#netsParrafo table{   
    color:#EEE1C6 ;
}
#netsParrafo h4{
    color: #EEE1C6;
}
/*Pacers*/
#pacersAbout h3{
    color:  #FDBB30  ;
}
#pacersParrafo table{   
    color:#FDBB30 ;
}
#pacersParrafo h4{
    color:  #002D62;
}
/*Bulls*/
#bullsAbout h3{
    color:  #CE1111;
}
#bullsParrafo table{   
    color: #ffffff ;
}
#bullsParrafo h4{
    color:  #CE1111;
}
/*Heat*/
#heatAbout h3{
    color:  #CE1111;
}
#heatParrafo table{   
    color: #F9A01B ;
}
#heatParrafo h4{
    color:  #CE1111;
}
/*Wizards*/
#wizardsAbout h3{
    color:  #002B5C;
}
#wizardsParrafo table{   
    color: #002B5C ;
}
#wizardsParrafo h4{
    color:  #E31837;
}
/*Hawks*/
#hawksAbout h3{
    color: #FDB927 ;
}
#hawksParrafo table{   
    color:  #FDB927 ;
}
#hawksParrafo h4{
    color:  #C8102E;
}
/*Pistons*/
#pistonsAbout h3{
    color: #1D42BA ;
}
#pistonsParrafo table{   
    color:  #1D42BA ;
}
#pistonsParrafo h4{
    color:  #C8102E;
}
/*Knicks*/
#knicksAbout h3{
    color: #F58426;
}
#knicksParrafo table{   
    color:  #F58426;
}
#knicksParrafo h4{
    color:  #006BB6;
}
/*celtics*/
#celticsAbout h3{
    color:#007A33;
}
#celticsParrafo table{   
    color:#007A33;
}
#celticsParrafo h4{
    color:#BA9653;
}
/*hornets*/
#hornetsAbout h3{
    color:#00788C;
}
#hornetsParrafo table{   
    color:#00788C;
}
#hornetsParrafo h4{
    color:#1D1160;
}
/*magic*/
#magicAbout h3{
    color:#0077C0;
}
#magicParrafo table{   
    color:#0077C0;
}
#magicParrafo h4{
    color:#C4CED4;
}
/*cavs*/
#cavsAbout h3{
    color:#FDBB30;
}
#cavsParrafo table{   
    color:#FDBB30;
}
#cavsParrafo h4{
    color:#860038;
}
/*raptors*/
#raptorsAbout h3{
    color:#CE1141;
}
#raptorsParrafo table{   
    color:#CE1141;
}
#raptorsParrafo h4{
    color:#CE1141;
}
/*CARRUSEL*/
.equipos{
    margin: 120px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.equipos .team{
    text-align: center;
    border: 3px solid black;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    margin: 0px 28px 0px 20px;
    top: 10px;
    background-color: black;
    
}
#carrusel{
    overflow: hidden;
    background-image: linear-gradient(black,white,black);
}
#buttons{
    display: flex;
    justify-content: center;
}
#buttonBack, #buttonFront{
    height: 70px;
    width: 70px;
    margin: 50px 30px 60px 30px;
    padding: 0px 20px; 
    border: 3px solid #0077C0;
    border-radius: 30px;
    cursor: pointer;
}
#buttonBack i, #buttonFront i{
    font-size: 30px;
}